#Instrucciones: Copia este archivo y renómbralo como ".env" para evitar que se suba dentro del repositorio.
#Luego rellena los valores con las API Key QUE SE ENVIO AL GRUPO

AZURE_SPEECH_KEY = "LA LLAVE QUE PASE POR WHATSAPP"
AZURE_SPEECH_REGION = eastus